@font-face { /* order must be this way */
  font-family: 'airstreamregular';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Airstream-webfont.eot');
  src: url('fonts/Airstream-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/Airstream-webfont.woff') format('woff'),
       url('fonts/Airstream-webfont.ttf') format('truetype'),
       url('fonts/Airstream-webfont.svg#airstreamregular') format('svg');
}

@font-face {
  font-family: 'lakeshore';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/LAKESHOR-webfont.eot');
  src: url('fonts/LAKESHOR-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/LAKESHOR-webfont.woff') format('woff'),
       url('fonts/LAKESHOR-webfont.ttf') format('truetype'),
       url('fonts/LAKESHOR-webfont.svg#lakeshore') format('svg');
}

html, body {
  height: 100%;
}

body {
  background: rgb(149,194,215);
  display: flex; /*  says body is a flex container */
  flex-direction: column;
  font-size: 10px;
}

a {
  text-decoration: none;
}

.main-header {
  flex: 0 1 auto; /* I don't want to grow any larger; I will shrink as needed; please calculate my size for me*/
}

.logo-text {
  background: white;
  font-family: lakeshore;
  font-size: 37px;
  text-align: center;
  text-transform: uppercase;
}

.main-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.thumbnail-item {
  border: 1px solid rgb(100%,100%,100%);
  border: 1px solid rgba(100%, 100%, 100%, 0.8); /* 4th argument is opacity (fall back value since not supported by all browsers)*/
  display: inline-block;
  max-width: 120px;
  min-width: 120px;
  transition: transform 133ms ease-in-out; /* This tells the browser that it will need to animate the change, but only for transform property */
}

.thumbnail-item:hover {
  transform: scale(1.2);
}

.thumbnail-list {
  display: flex;
  flex: 0 1 auto;
  justify-content: space-between; /* lets a flex container control how flex items are drawn on the main axis*/
  list-style: none;
  order: 2;
  overflow-x: auto;
  padding: 20px 0; /* 20px applies to the top and bottom padding, while 0 applies to the left and right padding */
  white-space: nowrap;
}

.thumbnail-image {
  display: block;
  width: 100%;
}

.thumbnail-title { /* set the background and foreground colors thumbnail-title class */
  background: rgb(96,125,139);
  color: rgb(202,238, 255);
  display: block;
  font-size: 18px;
  margin: 0;
  padding: 4px 10px;
}

.detail-image-container {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

.detail-image-frame {
  position: relative; /* normal flow */
  text-align: center;
  transition: transform 333ms cubic-bezier(1,.06,.28,1);
}

.is-tiny {
  transform: scale(0.001); /* scales the element down to a small fraction of its original size */
  transition: transform 0ms; /* specifies that any transition for the transform property should last 0 milliseconds*/
}
.detail-image {
  width: 90%;
}

.detail-image-title {
  bottom: -16px;
  color: white;
  font-family: airstreamregular;
  font-size: 40px;
  left: 4px;
  position: absolute;
  text-shadow: rgba(0,0,0,0.9) 1px 2px 9px;
}

.hidden-detail .detail-image-container { /* it is hidden */
  display: none;
}

.hidden-detail .thumbnail-list { /*  will always be displayed as a column */
  align-items: center;
  flex-direction: column;
}

.hidden-detail .thumbnail-item {
  max-width: 80%;
}

@media all and (min-width: 768px) {
  /* styles go here */
  .main-content {
    flex-direction: row;
    overflow: hidden;
  }

  .thumbnail-list {
    flex-direction: column;
    margin-left:20px;
    order: 0;
    padding: 0 35px;
  }

  .thumbnail-item {
    max-width: 260px;
  }

  .thumbnail-item + .thumbnail-item {
    margin-top: 20px;
  }
}
